@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('/src/assets/fonts/Pretendard-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Bold';
	src: url('./fonts/Pretendard-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Italic';
	src: url('./fonts/Pretendard-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

body,
html,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
main,
section {
	font-family: 'pretendard', sans-serif;
}

.font-regular {
	font-family: 'Pretendard-Regular', sans-serif;
}

.font-bold {
	font-family: 'Pretendard-Bold', sans-serif;
}

.font-italic {
	font-family: 'Pretendard-Italic', sans-serif;
}

select {
	background: #fff;
	color: #0b101a;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	border: 1px solid #b1b4bb;
	padding: 5px;
	letter-spacing: -0.02px;
	padding-right: 1rem;
	border-radius: 8px;
}

select:focus {
	border: 1px solid #b1b4bb;
	outline: none;
}
